.hero {
  margin-block: 0px;
  /* border: 1px solid red; */
}

.container {
  height: 70vh;
  width: 100%;
  /* border: 1px solid red; */
  background: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.88)
    ),
    url("/hero-bg.jpg");
  background-size: contain; /* Scale the image to cover the entire container */
  background-position: right;
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.content {
  margin-left: 100px;
  /* width: 60%; */
}

.content_top {
  /* border: 1px solid black; */
  height: 50%;
  gap: 25px;
  width: 60%;
  justify-content: center;
}

.content_top h1 {
  font-size: 5rem;
  font-weight: 400;
}

.content_top p {
  font-size: 1.5rem;
}

/* ============================================ bottom section ==================================================*/
.content_bottom_wrapper {
  width: 100%;
  height: 50%;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.74) 50%,
    #ffffff 100%
  );
}

.content_bottom {
  gap: 30px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.search_container {
  position: relative;
  /* display: flex;
  flex-direction: column; */
}

.search_input {
  width: 280px;
  padding-inline: 30px 40px !important;
}

.icon_1,
.icon_2,
.icon_3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.search_outer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search_result {
  position: absolute;
  height: 150px;
  overflow-y: auto;
  top: 40px;
  left: 0px;
  z-index: 10;
  width: 100%;
}
.search_result div {
  font-size: 1.3rem;
  padding: 10px 6px;

  background-color: rgb(232, 232, 232);
  border-bottom: 1px solid rgb(185, 185, 185);
  cursor: pointer;

  transition: all 150ms ease-in;
}

.search_result div:hover {
  background-color: rgb(201, 201, 201);
}

.icon_1 {
  left: 5px;
  color: var(--primary-background);
}

.icon_2 {
  right: 10px;
  color: var(--primary-background);
}

.icon_3 {
  color: var(--primary-background);
  left: 5px;
}

.total_person {
  position: relative;
}

.total_person select {
  width: 70px;
  padding-left: 28px;
  padding-block: 8px;
  /* padding: 8px 5px; */
  height: 100%;
  outline: none;
}

.total_person select:focus-within {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 2px 1px rgb(184, 183, 183);
}

@media screen and (max-width: 520px) {
  .container {
    min-height: 70vh;;
  }
  .content {
    margin-left: 0;
    padding: 80px 20px 40px 20px;
  }
  .content_top {
    width: 90%;
    margin-inline: auto;
  }
  .content_top h1 {
    font-size: 3rem;
  }

  .content_bottom {
    width: 90%;
    margin-inline: auto;
    margin-block: 40px;
  }
}
