.hotel_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 330px));
  gap: 20px;

  margin-bottom: 20px;
}

.hotel_list_container {
  min-height: 400px;
}

.loading {
  text-align: center;
  font-size: 1.8rem;
  margin-block: 50px;
}

.info,
.error {
  text-align: center;
  font-size: 1.6rem;
}

.error {
  color: red;
}

.results {
  font-size: 1.3rem;
  font-weight: 500;
  margin-block: 10px;
}
