:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 10px;

  --primary-background: #0a66bb;
  --primary-foreground: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.container {
  max-width: 1450px;
  margin-inline: auto;
  /* border: 1px solid black; */
}

.h-full {
  height: 100%;
}

.btn {
  border: none;
  padding: 10px 38px;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  /* font-size: 20px; */
}

button:active {
  transform: translate(2px, 2px);
}

.primary {
  background-color: var(--primary-background);
  color: var(--primary-foreground);
}

.secondary {
  border: 1px solid var(--primary-background);
  color: var(--primary-background);
}

.btn:hover {
  opacity: 0.85;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
  border: 1px solid rgb(137, 137, 137);
  font-size: 1.5rem;
  padding: 8px 10px;
}

input:focus-within {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 2px 1px rgb(184, 183, 183);
}

.bg-primary {
  color: var(--primary-background);
}
